<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Corona Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="/assets/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/assets/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="/assets/vendors/jvectormap/jquery-jvectormap.css">
  <link rel="stylesheet" href="/assets/vendors/flag-icon-css/css/flag-icon.min.css">
  <link rel="stylesheet" href="/assets/vendors/owl-carousel-2/owl.carousel.min.css">
  <link rel="stylesheet" href="/assets/vendors/owl-carousel-2/owl.theme.default.min.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <!-- endinject -->
  <!-- Layout styles -->
  <link rel="stylesheet" href="/assets/css/style.css">
  <!-- End layout styles -->
  <link rel="shortcut icon" href="/assets/images/favicon.png" />
  <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.17/dist/sweetalert2.min.css"
    />
</head>

<body>
  <div class="container-scroller">
    <!-- partial:partials/_sidebar.html -->
    <%- include("../partials/admin/sidebar") %>

      <!-- partial -->
      <%- include("../partials/admin/navbar") %>
        <!-- partial -->
        <div class="main-panel">
          <div class="row ">
            



              <div class="main-panel">
                <div style="display: flex;" class="m-1">
                  <a type="button" class="btn btn-info m-3" data-toggle="modal" data-target="#addCoupon">Add Coupon</a>
                </div>
              
                <!-- Modal -->
                <div class="modal fade" id="addCoupon" tabindex="-1" role="dialog" aria-labelledby="addCouponLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="addCouponLabel">Add New Coupon</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form class="forms-sample" id="couponForm"  >
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="couponName">Name</label>
                                <input type="text" class="form-control" id="couponName" name="couponName" placeholder="Coupon Name">
                              </div>
              
                              <div class="form-group">
                                <label for="couponCode">Code</label>
                                <div class="input-group">
                                  <input type="text" class="form-control" id="couponCode" name="couponCode" placeholder="Coupon Code">
                                  <div class="input-group-append">
                                    <button type="button" class="btn btn-secondary" onclick="generateCouponCode()">Generate</button>
                                  </div>
                                </div>
                              </div>
              
                              <div class="form-group">
                                <label for="description">Description</label>
                                <textarea class="form-control" id="description" name="description" placeholder="Coupon Description" rows="3"></textarea>
                              </div>
              
                              <div class="form-group">
                                <label for="discountType">Discount Type</label>
                                <select class="form-control" id="discountType" name="discountType">
                                  <option value="PERCENTAGE">Percentage</option>
                                  <option value="FIXED">Fixed Amount</option>
                                </select>
                              </div>
              
                              <div class="form-group">
                                <label for="discountValue">Discount Value</label>
                                <input type="number" class="form-control" id="discountValue" name="discountValue" placeholder="Discount Amount">
                              </div>
                            </div>
              
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="minAmount">Minimum Amount</label>
                                <input type="number" class="form-control" id="minAmount" name="minAmount" placeholder="Minimum Order Amount">
                              </div>
              
                              <div class="form-group">
                                <label for="maxAmount">Maximum discount Amount</label>
                                <input type="number" class="form-control" id="maxAmount" name="maxAmount" placeholder="Maximum Order Amount">
                              </div>
              
                              <div class="form-group">
                                <label for="totalLimit">Total Usage Limit</label>
                                <input type="number" class="form-control" id="totalLimit" name="totalLimit" placeholder="Total Coupon Usage Limit">
                              </div>
              
                              <div class="form-group">
                                <label for="perUserLimit">Per User Limit</label>
                                <input type="number" class="form-control" id="perUserLimit" name="perUserLimit" placeholder="Coupon Usage per User">
                              </div>
              
                              <div class="form-group">
                                <label for="expiryDate">Expiry Date</label>
                                <input type="datetime-local" class="form-control" id="expiryDate" name="expiryDate">
                              </div>
              
                              
                            </div>
                          </div>
              
                          <h4 class="card-title">
                            &nbsp;<%= error %>
                          </h4>
              
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Add Coupon</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Sl no</th>
                          <th>Coupon Name</th>
                          <th>Coupon Code</th>
                          <th>Discount Value</th>
                          <th>Mini Amount</th>
                          <th>Max Discount Amount</th>
                          <th>Total Limit</th>
                          <th>Per User Limit</th>
                          <th>Expiry Date</th>
                          <th>Status</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% let sl = limit * (currentPage - 1); %>
                        <% coupons.forEach((coupon) => { %>
                          <tr>
                            <td><%= ++sl %></td>
                            <td><%= coupon.couponName %></td>
                            <td><%= coupon.couponCode %></td>
                            <td>                                                
                                <%= coupon.discountType === 'PERCENTAGE' ? coupon.discountValue + '%' : '<i class="fa fa-rupee"></i>' + coupon.discountValue %>
                            </td>
                            <td><%= coupon.minCartValue %></td>
                            <td><%= coupon.maxCartValue %></td>
                            <td><%= coupon.totalUsageLimit %></td>
                            <td><%= coupon.perUserLimit %></td>
                            <% if(coupon.expiryDate < Date.now()) { %>
                              <td>Expired</td>

                            <% }else{%>
                              <td><%= new Date(coupon.expiryDate).toLocaleString() %></td>

                            <% } %>
                            <td>
                              <% if (coupon.status === false) { %>
                                <a type="button" href="#" class="btn btn-success"
                                  onclick="updateStatus('<%= coupon._id %>', true)">Activate</a>
                              <% } else { %>
                                <a type="button" href="#" class="btn btn-danger"
                                  onclick="updateStatus('<%= coupon._id %>', false)">Deactivate</a>
                              <% } %>
                            </td>
                            <td>
                              <!-- <a href="/admin/coupon/edit/<%= coupon._id %>" class="btn btn-primary">
                                <i class="fa-solid fa-pen-to-square"></i>
                              </a> -->
                              <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#deleteConfirmModal"
                                onclick="setDeleteUrl('/admin/coupon/delete/<%= coupon._id %>')">
delete                              </a>
                            </td>
                          </tr>
                        <% }); %>
                      </tbody>
                    </table>
                  </div>
                  
                  <!-- Pagination -->
                  <div class="d-flex justify-content-between align-items-center mt-3">
                    <span>Page <%= currentPage %> of <%= totalPages %></span>
                    <ul class="pagination">
                      <% for (let i = 1; i <= totalPages; i++) { %>
                        <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                          <a class="page-link" href="?page=<%= i %>&limit=<%= limit %>"><%= i %></a>
                        </li>
                      <% } %>
                    </ul>
                  </div>
                  
              
                <!-- Delete Confirmation Modal -->
                <div class="modal fade" id="deleteConfirmModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="deleteConfirmLabel">Confirm Delete</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Are you sure you want to delete this coupon?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <a href="" id="confirmDeleteButton" class="btn btn-danger">Delete</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>


          <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


  <script>
    document.getElementById('couponForm').addEventListener('submit', async (e) => {
//   e.preventDefault(); // Prevent the default form submission

const couponName = document.getElementById('couponName').value;
  const couponCode = document.getElementById('couponCode').value;
  const description = document.getElementById('description').value;
  const discountType = document.getElementById('discountType').value;
  const discountValue = document.getElementById('discountValue').value;
  const minAmount = document.getElementById('minAmount').value;
  const maxAmount = document.getElementById('maxAmount').value;
  const totalLimit = document.getElementById('totalLimit').value;
  const perUserLimit = document.getElementById('perUserLimit').value;
  const expiryDate = document.getElementById('expiryDate').value;

  const formData = {
    couponName,
    couponCode,
    description,
    discountType,
    discountValue,
    minAmount,
    maxAmount,
    totalLimit,
    perUserLimit,
    expiryDate,
  }
  try {
    const response = await axios.post('/admin/coupon', formData);

    // Handle success
    if (response.status === 200) {
      Swal.fire({
  icon: 'success', // Show 'success' icon
  title: 'Coupon Added',
  text: 'Coupon added successfully!',
});
    }
  } catch (error) {
    // Handle error
    console.error('Error adding coupon:', error.response?.data || error.message);
    Swal.fire({
  icon: 'error', // Show 'error' icon
  title: 'Failed to Add Coupon',
  text: 'Failed to add coupon. Please try again.',
});
  }
});


function updateStatus(couponId, status) {
  axios.post(`/admin/coupons/updateStatus`, { couponId, status })
    .then((response) => {
      location.reload(); // Reload to reflect changes
    })
    .catch((error) => {
      console.error(error);
      Swal.fire({
  icon: 'error', // Show 'error' icon
  title: 'Status Update Failed',
  text: 'Error updating status.',
});
    });
}

function setDeleteUrl(url) {
  document.getElementById('deleteConfirmModal').querySelector('a.confirm-delete').setAttribute('href', url);
}

  </script>

  

  <script src="/assets/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="/assets/vendors/chart.js/Chart.min.js"></script>
  <script src="/assets/vendors/progressbar.js/progressbar.min.js"></script>
  <script src="/assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
  <script src="/assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
  <script src="/assets/vendors/owl-carousel-2/owl.carousel.min.js"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="/assets/js/off-canvas.js"></script>
  <script src="/assets/js/hoverable-collapse.js"></script>
  <script src="/assets/js/misc.js"></script>
  <script src="/assets/js/settings.js"></script>
  <script src="/assets/js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page -->
  <script src="/assets/js/dashboard.js"></script>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const couponForm = document.getElementById("couponForm");
  
      // Function to show error popup
      function showError(message) {
        const errorPopup = document.createElement("div");
        errorPopup.className = "fixed top-4 right-4 bg-red-500 text-white px-4 py-3 rounded-lg shadow-lg z-50";
        errorPopup.style.opacity = "0";
        errorPopup.style.transform = "translateY(-20px)";
        errorPopup.textContent = message;
  
        document.body.appendChild(errorPopup);
  
        // Animate in
        setTimeout(() => {
          errorPopup.style.opacity = "1";
          errorPopup.style.transform = "translateY(0)";
        }, 10);
  
        // Remove after 3 seconds
        setTimeout(() => {
          errorPopup.style.opacity = "0";
          errorPopup.style.transform = "translateY(-20px)";
          setTimeout(() => {
            document.body.removeChild(errorPopup);
          }, 300);
        }, 3000);
      }
  
      // Validation function
      function validateForm(event) {
  
        const couponName = document.getElementById("couponName").value.trim();
        const couponCode = document.getElementById("couponCode").value.trim();
        const discountType = document.getElementById("discountType").value;
        const discountValue = document.getElementById("discountValue").value.trim();
        const expiryDate = document.getElementById("expiryDate").value.trim();
        const minAmount = document.getElementById("minAmount").value.trim();
        const maxAmount = document.getElementById("maxAmount").value.trim();
        const totalLimit = document.getElementById("totalLimit").value.trim();
        const perUserLimit = document.getElementById("perUserLimit").value.trim();
  
        // Check if fields are empty
        if (!couponName) return showError("Coupon Name is required.");
        if (!couponCode) return showError("Coupon Code is required.");
        if (!discountType) return showError("Discount Type is required.");
        if (!discountValue || isNaN(discountValue) || parseFloat(discountValue) <= 0)
          return showError("Discount Value must be a valid positive number.");
        if (!expiryDate) return showError("Expiry Date is required.");
        
        // Check numeric limits
        if (minAmount && (isNaN(minAmount) || parseFloat(minAmount) < 0))
          return showError("Minimum Amount must be a valid non-negative number.");
        if (maxAmount && (isNaN(maxAmount) || parseFloat(maxAmount) < 0))
          return showError("Maximum Amount must be a valid non-negative number.");
        if (maxAmount && minAmount && parseFloat(maxAmount) < parseFloat(minAmount))
          return showError("Maximum Amount must be greater than or equal to Minimum Amount.");
        if (totalLimit && (isNaN(totalLimit) || parseInt(totalLimit) <= 0))
          return showError("Total Usage Limit must be a valid positive integer.");
        if (perUserLimit && (isNaN(perUserLimit) || parseInt(perUserLimit) <= 0))
          return showError("Per User Limit must be a valid positive integer.");
  
        // Check expiry date
        const expiry = new Date(expiryDate);
        if (expiry < new Date()) return showError("Expiry Date must be in the future.");
  
        // If all validations pass, submit the form
        couponForm.submit();
      }
  
      // Attach the validation function to the form's submit event
      couponForm.addEventListener("submit", validateForm);
    });
  </script>
  
  <!-- End custom js for this page -->
</body>

</html>